<%= form_with(model: admin_post_record) do |form| %>
  <% if admin_post_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_post_record.errors.count, "error") %> prohibited this admin_post_record from being saved:</h2>

      <ul>
        <% admin_post_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.label :view_count, style: "display: block" %>
    <%= form.number_field :view_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
