<p style="color: green"><%= notice %></p>

<%= render @admin_post_record %>

<div>
  <%= link_to "Edit this post record", edit_admin_post_record_path(@admin_post_record) %> |
  <%= link_to "Back to post records", admin_post_records_path %>

  <%= button_to "Destroy this post record", @admin_post_record, method: :delete %>
</div>
