<%= form_with model: @user, url: users_profile_path(@user.screen_name), class: "mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl" do |f| %>
  <%# エラーメッセージ %>
  <% if @user.errors.any? %>
    <div style="color: red" class="bg-red-100 border border-gray-300 py-5 mb-6 outline-none w-full">
      <ul>
        <% @user.errors.each do |error| %>
          <li>・<%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- user_ID -->
  <div class="flex items-center">
    <%= f.label :screen_name, class: "text-lg text-gray-600" %>
    <div class="badge ml-1 bg-red-500 text-white">必須</div>
  </div>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('profile.warning.screen_name1') %>
  </span>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('profile.warning.screen_name2') %>
  </span>
  <%= f.text_field :screen_name,  class: "w-full bg-gray-100 border border-gray-300 p-2 mb-6 outline-none", placeholder: t('profile.placeholder.screen_name') %>

  <!-- user_name -->
  <div class="flex items-center">
    <%= f.label :account_name, class: "text-lg text-gray-600" %>
    <div class="badge ml-1 bg-red-500 text-white">必須</div>
  </div>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('profile.warning.account_name') %>
  </span>
  <%= f.text_field :account_name,  class: "w-full bg-gray-100 border border-gray-300 p-2 mb-6 outline-none", placeholder: t('profile.placeholder.account_name') %>


  <!-- image with Preview (JS による制御) -->
  <%= f.label :profile_image, class: "text-lg text-gray-600" %>
  <span class="w-40 h-40">
    <%= f.label :profile_image, class: "mb-6" do %>
      <%= image_tag current_user.decorate.has_image?, class: "w-40 h-40  border-2 border-slate-300 rounded-full", id: "image-preview" %>
      <%= f.file_field :profile_image, class: "hidden" %>
      <%= f.hidden_field :profile_image_cache %>
    <% end %>
  </span>
  <div class="flex mt-1 mb-6">
    <%= f.check_box :profile_image_flg, class: "checkbox" %> 
    <span class="ml-1">
    <%= t('profile.not_use_image') %>
    </span>
  </div>


  <!-- introduction -->
  <%= f.label :introduction, class: "text-lg text-gray-600" %>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('profile.warning.introduce') %>
  </span>
  <%= f.text_area :introduction, class: "w-full bg-gray-100 sec mb-6 p-3 h-60 border border-gray-300 outline-none", placeholder: t('profile.placeholder.introduce') %>

  <!-- age -->
  <div class="sm:w-full sm:mx-auto">
    <%= f.label :age, class: "text-lg text-gray-600" %>
    <%= f.select :age, User.ages_i18n.invert, {}, { class: "bg-gray-100 border border-gray-300 p-2 mb-6 outline-none" } %>
  </div>

  <!-- gender -->
  <div class="sm:w-full sm:mx-auto">
    <%= f.label :gender, class: "text-lg text-gray-600" %>
    <%= f.select :gender, User.genders_i18n.invert, {}, { class: "bg-gray-100 border border-gray-300 p-2 mb-6 outline-none" } %>
  </div>

  <!-- submit Button -->
  <div class="flex p-1 justify-end">
    <%= f.submit t('form.ok'), class: "w-3/12 p-3 bg-blue-500 text-white hover:bg-blue-400"%>
  </div>

  <!-- form_end -->
<% end %>


