<%= form_with(model: admin_quote_relation) do |form| %>
  <% if admin_quote_relation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_quote_relation.errors.count, "error") %> prohibited this admin_quote_relation from being saved:</h2>

      <ul>
        <% admin_quote_relation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
