<%= form_with scope: :q, url: posts_path, method: :get, class: "modal-box container mx-auto flex justify-center items-center p-3" do |f| %>
    <div class="p-6 grid grid-cols-1 gap-6">
        <div class="flex flex-col flex-row">
        <%# posts genre %>
            <div>
                <%= t('posts.search.genre') %>
            </div>
            <div class="w-full">
                <%= f.select :post_genre_id, Post.post_genre_ids_i18n.invert, { include_blank: true }, class: "w-full border p-2 rounded contain" %>
            </div>
        <%# posts order %>
            <div class="mt-3">
                <%= t('posts.search.order') %>
            </div>
            <div class="w-full">
                <%= f.select :how_order, @q_order , { include_blank: true }, class: "w-full border p-2 rounded contain" %>
            </div>
        </div>
        <div class="grid grid-cols-1">
            <%# posts order %>
            <div class="mt-3">
                <%= t('posts.search.content') %>
            </div>
            <div class="border border-slate-300 rounded">
                <div class="flex border rounded bg-gray-300 items-center p-2">
                    <%= image_tag 'sentence', class: "fill-current text-gray-800 mr-2 w-5" %>
                    <%= f.text_area :contents, 
                        id: "search-words-input",
                        data: { controller: "search-words" }, 
                        placeholder: t('posts.search.search_words'), 
                        class: "bg-gray-300 w-full focus:outline-none text-gray-700" %>
                </div>
            </div>
            <%# posts order %>
            <div class="mt-3">
                <%= t('posts.search.tag') %>
            </div>
            <div class="border border-slate-300 rounded">
                <div class="flex border rounded bg-gray-300 items-center p-2">
                    <%= image_tag 'tag', class: "fill-current text-gray-800 mr-2 w-5" %>
                    <%= f.text_area :tags, 
                        id: "search-tags-input", 
                        data: { controller: "search-tags" }, 
                        placeholder: t('posts.search.search_words'),
                        class: "bg-gray-300 w-full focus:outline-none text-gray-700" %>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <%= f.button t('posts.search.btn'), class: "w-1/2 p-2 border rounded-md bg-gray-800 text-white" %>
            <%= f.hidden_field :search_flg, value: true %>
        </div>
    </div>
<% end %>
