<%= form_with(model: admin_post) do |form| %>
  <% if admin_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

      <ul>
        <% admin_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_uid, style: "display: block" %>
    <%= form.text_field :post_uid %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :post_genre_id, style: "display: block" %>
    <%= form.text_field :post_genre_id %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.text_field :images %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :draft_flg, style: "display: block" %>
    <%= form.check_box :draft_flg %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
