<div id="<%= dom_id user %>">
  <p>
    <strong>User uid:</strong>
    <%= user.user_uid %>
  </p>

  <p>
    <strong>Screen_name:</strong>
    <%= user.screen_name %>
  </p>

  <p>
    <strong>Account_name:</strong>
    <%= user.account_name %>
  </p>

  <p>
    <strong>Profile image:</strong>
    <%= user.profile_image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= user.introduction %>
  </p>

</div>
