<p style="color: green"><%= notice %></p>

<%= render @admin_post_genre %>

<div>
  <%= link_to "Edit this post genre", edit_admin_post_genre_path(@admin_post_genre) %> |
  <%= link_to "Back to post genres", admin_post_genres_path %>

  <%= button_to "Destroy this post genre", @admin_post_genre, method: :delete %>
</div>
