<p style="color: green"><%= notice %></p>

<%= render @admin_post_tag %>

<div>
  <%= link_to "Edit this post tag", edit_admin_post_tag_path(@admin_post_tag) %> |
  <%= link_to "Back to post tags", admin_post_tags_path %>

  <%= button_to "Destroy this post tag", @admin_post_tag, method: :delete %>
</div>
