<!-- header -->
<div class="flex space-x-4 items-center ">
  <div class="w-12 h-12">
    <%= image_tag post.user.decorate.has_image?, class: "rounded-full w-full h-full object-cover" %>
  </div>
  <div class="space-y-2">
    <div class="flex space-x-2 items-center">
      <h2 class="text-base"><%= post.user.account_name %></h2>
      <div class="  text-xs">＠<%= post.user.screen_name %></div>
    </div>
    <p class=" text-xs"><%= post.decorate.created_date %></p>
  </div>
</div>

<!--content-->
<div>
  <p class="mb-3 text-2xl leading-6">
    <%= post.title %>
  </p>
  <p class="text-sm leading-6">
    <%= post.content %>
  </p>
</div>

<!-- image grid-->
<div class="grid grid-cols-6 col-span-2  gap-2">
  <% post.images.each.with_index(1) do |image, index| %>
    <div class="relative overflow-hidden rounded-xl col-span-2 max-h-[10rem]">
      <%= render 'image_modal', image: image, index: index %>
    </div>
  <% end %>
</div>

<!-- comments-->
  <div class=" h-16 border-b  flex items-center justify-around	">
    <div class="flex items-center	gap-3	">

      <div class="text-sm	">10 Comments</div>
    </div>
    <div class="flex items-center	gap-3">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20"
        fill="currentColor">
        <path fill-rule="evenodd"
          d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
          clip-rule="evenodd" />
      </svg>
      <div class="text-sm">5 Likes</div>
    </div>
    <div class="flex items-center	gap-3">

      <div class="text-sm">Saved</div>
    </div>
  </div>
  <div class="flex items-center justify-between mt-4">
    <img src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"  class="bg-yellow-500 rounded-full w-10 h-10 object-cover border">
    <div class="flex items-center	justify-between	 bg-gray-50 h-11 w-11/12 border rounded-2xl	 overflow-hidden px-4 "
      <input type="text" class="h-full w-full bg-gray-50 outline-none " placeholder="Write your comment..." name="comment">
    </div>
  </div>
</div>
