<%= form_with model: @post, class: "mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl" do |f| %>
  <% if post.errors.any? %>
    <div style="color: red" class="bg-red-100 border border-gray-300 py-5 mb-4 outline-none text-center">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- QuotePost -->
  <% if @quote_post.present? %>
    <div class="mb-4 p-2 bg-slate-200 rounded-lg shadow-md">
      <%= t('form.post.quote_post') %>
      <%= render 'quote_post' ,post: @quote_post %>
    </div>
    <%= f.hidden_field :quote_post, value: @quote_post.id %>
  <% end %>

  <!-- PostGenre -->
  <%= f.label :post_genre_id, class: "text-lg text-gray-600" %>
  <%= f.select :post_genre_id, Post.post_genre_ids_i18n.invert, {}, { class: "bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" } %>

  <!-- Title -->
  <%= f.label :title, class: "text-lg text-gray-600" %>
  <%= f.text_field :title,  class: "w-full bg-gray-100 border border-gray-300 p-2 mb-4 outline-none", placeholder: "Title" %>

  <!-- Content -->
  <%= f.label :content, class: "text-lg text-gray-600" %>
  <%= f.text_area :content, class: "w-full bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none", placeholder: "Describe everything about this post here" %>
  <div class="count ml-auto text-gray-400 text-xs font-semibold">
    <%= t('form.post.warning_textarea') %>
  </div>

  <!-- PostTags -->
  <%= f.label :post_tags, class: "text-lg text-gray-600" %>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('form.post.warning_tags1') %>
  </span>
  <span class="count text-gray-400 text-xs font-semibold">
    <%= t('form.post.warning_tags2') %>
  </span>
  <%= f.text_area :input_post_tags, 
    id: "tags-input",
    data: { controller: "tag" },
    class: "mb-4 w-full bg-gray-100 p-3 border border-gray-300 outline-none",
    placeholder: t('posts.show.tag_enter'), 
    value: "#{ post.tags.pluck(:name) }",
    rows: 1 
  %>

  <!-- images -->
  <%= f.file_field :images, class:"file-input file-input-bordered file-input-md w-full max-w-xs", multiple: true %>

  <!-- Buttons with select -->
  <div class="flex my-3 justify-end">
    <%= f.select :draft_flg, Post.draft_flgs_i18n.invert, {}, class: "py-3 bg-gray-100 border border-gray-300 p-2 outline-none" %>
    <%= f.submit "OK", class: "py-3 w-3/12 bg-blue-500 text-white hover:bg-blue-400"%>
  </div>

  <!-- form_end -->
<% end %>
