<%= form_with(model: post) do |f| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :post_genre_type, style: "display: block" %>
    <%= f.select(:post_genre_type, Post.post_genre_type.options) %>
  </div>

  <div>
    <%= f.label :images, style: "display: block" %>
    <%= f.text_field :images %>
  </div>

  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, style: "display: block" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :draft_flg, style: "display: block" %>
    <%= f.check_box :draft_flg %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
