<div id="<%= dom_id post %>">
  <p>
    <strong>Post uid:</strong>
    <%= post.post_uid %>
  </p>

  <p>
    <strong>Account_name:</strong>
    <%= post.user.account_name %>
  </p>

  <p>
    <strong>Screen_name:</strong>
    <%= post.user.screen_name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= post.post_genre_id_i18n %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= post.images %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Draft flg:</strong>
    <%= post.draft_flg %>
  </p>

</div>
