<p style="color: green"><%= notice %></p>

<%= render @admin_bookmark %>

<div>
  <%= link_to "Edit this bookmark", edit_admin_bookmark_path(@admin_bookmark) %> |
  <%= link_to "Back to bookmarks", admin_bookmarks_path %>

  <%= button_to "Destroy this bookmark", @admin_bookmark, method: :delete %>
</div>
