<header class="bg-slate-100 sticky top-0 z-50">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8" aria-label="Global">
    <%= link_to root_path ,class: "flex bg-slate-100bg-transparent text-gray-900 font-semibold rounded hover:bg-slate-500 hover:text-white hover:border-transparent transition ease-in duration-100" do %>
      <%= image_tag 'app_logo.png', class: "h-8 w-auto", alt: "アプリアイコン" %>
      <%= image_tag 'app_name.png', class: "h-8 w-auto", alt: "アプリアイコン" %>
    <% end %>

    <!-- ログイン有無でヘッダーを切り替え -->
    <% if user_signed_in? %>
      <!-- ログイン済み -->
      <%= render 'layouts/after_header' %>
    <% else %>
      <!-- ログイン前 -->
      <%= render 'layouts/before_header' %>
    <% end %> 
  </nav>
</header>
