<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-THSJ9K8E2M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-THSJ9K8E2M');
    </script>
    <!-- title -->
    <title><%= content_for(:title) || "Myapp" %></title>
    <!-- Twitter -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%# ファビコン画像 %>
    <%= favicon_link_tag '/favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- manifest for PWA -->
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />

    <!-- Tagify -->
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <!-- ogp -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- rails default -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>
  <!-- ログイン有無での表示内容の切り替え -->
  <body class="font-mono">
    <%# header %>
    <%= render 'layouts/header' %>

    <%# フラッシュメッセージを表示 %>
    <% flash.each do |key, message| %>
      <% case key %>
      <% when "notice" %>
        <%= render 'shared/info_notice', message: message %>
      <% when "success" %>
        <%= render 'shared/success_notice', message: message %>
      <% when "warning" %>
        <%= render 'shared/warning_notice', message: message %>
      <% when "alert" %>
        <%= render 'shared/error_notice', message: message %>
      <% end %>
    <% end %>

    <%# main %>
    <%= yield %>

    <%# footer %>
    <%= render 'layouts/footer' %>
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</html>
