<p><%= t('.greeting', recipient: @resource.account_name) %></p>
</br>

<p><%= t('.instruction') %></p>
<p><%= t('.instruction_2') %></p>
</br>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>
</br>

<p><%= t('.instruction_3') %></p>
</br>

<p><%= t('.instruction_4') %></p>
<p><%= t('.instruction_5') %></p>
</br>

<p><%= t('.period') %></p>
